<div class="container py-5 flex-grow-1 d-flex">
  <form
    [formGroup]="productsFilterForm"
    class="d-flex flex-column col-4 bg-light p-3"
  >
    <span class="pb-2 fs-5">PRICES</span>
    <div class="d-flex align-items-center justify-content-between pb-3">
      <span class="fs-6">Range</span>
      <span>{{ minPrice }}₾ - {{ maxPrice }}₾</span>
    </div>
    <ngx-slider
      [(value)]="minPrice"
      [(highValue)]="maxPrice"
      [options]="options"
      (userChangeEnd)="SliderValueChanged($event)"
    ></ngx-slider>
    <div class="pt-5 d-flex flex-column" formArrayName="categories">
      <div class="pb-4">Categories</div>

      @if (categoriesFormGroupControls.length > 2) {
        @for (category of categoriesFormGroupControls; track $index) {
            <mat-checkbox
              (change)="matCheckboxChanged($event)"
              [formControlName]="category"
            >
              {{category}}
            </mat-checkbox>
            }

      }




    </div>
  </form>

  <div class="Prices col-8">Items</div>
</div>
