<div
  class="col-11 mx-auto py-5 flex-grow-1 d-flex justify-content-between align-items-start"
>
  <form
    class="d-flex flex-column col-3 bg-light p-3 mt-3 pb-5"
  >
    <span class="pb-2 fs-5">PRICES</span>
    <div class="d-flex align-items-center justify-content-between pb-3">
      <span class="fs-6">Range</span>
      <span>{{ minPrice }}$ - {{ maxPrice }}$</span>
    </div>
    <ngx-slider
      [(value)]="minPrice"
      [(highValue)]="maxPrice"
      [options]="options"
      (userChangeEnd)="priceValuesChanged($event)"
    ></ngx-slider>
    <div class="pt-5 d-flex flex-column pb-5" >
      <div class="pb-4">Categories</div>

       @for (category of
      availableCategories; track $index) {
      <mat-checkbox
        (change)="categoriesChanged($event,category)"
      >
        {{ category }}
      </mat-checkbox>
      } 
    </div>
  </form>

  <div class="Prices col-7 d-flex justify-content-end flex-column">
    <div class="d-flex px-4">
      <mat-form-field>
        <mat-label>Sort By</mat-label>
        <mat-select
        (selectionChange)="sortChanged($event)">
          @for (sortItem of sortOptions; track sortItem) {
          <mat-option [value]="sortItem.value">{{ sortItem.viewValue }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="flex-grow-1 d-flex flex-wrap w-100">
      @for (item of paginatedProducts; track item.id) {
        <div class="product-item col-4 px-4 pb-5">
        <app-product-list-item [product]="item"></app-product-list-item>
        </div>
      }
    </div>

    <div class="w-100">
      <mat-paginator
      #paginator
        [length]="paginatorItemsLength"
        [pageSize]="itemsPerPage"
        (page)="pageChanged($event)"
      >
      </mat-paginator>
    </div>
    
  </div>
</div>
