<div class="col-11 mx-auto py-5 flex-grow-1 d-flex justify-content-between">
  <form
    [formGroup]="productsFilterForm"
    class="d-flex flex-column col-3 bg-light p-3 mt-3"
  >
    <span class="pb-2 fs-5">PRICES</span>
    <div class="d-flex align-items-center justify-content-between pb-3">
      <span class="fs-6">Range</span>
      <span>{{ minPrice }}₾ - {{ maxPrice }}₾</span>
    </div>
    <ngx-slider
      [(value)]="minPrice"
      [(highValue)]="maxPrice"
      [options]="options"
      (userChangeEnd)="SliderValueChanged($event)"
    ></ngx-slider>
    <div class="pt-5 d-flex flex-column" formArrayName="categories">
      <div class="pb-4">Categories</div>

      @if (categoriesFormGroupControls.length > 2) {
        @for (category of categoriesFormGroupControls; track $index) {
            <mat-checkbox
              (change)="matCheckboxChanged($event)"
              [formControlName]="category"
            >
              {{category}}
            </mat-checkbox>
            }

      }




    </div>
  </form>

  <div class="Prices col-7 d-flex justify-content-end flex-column">
    <div class="d-flex">
      <mat-form-field>
        <mat-label>Favorite food</mat-label>
        <mat-select>
          @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>

    </div>

    <div class="d-flex flex-grow-1 w-100 flex-wrap">
      <div class="item col-4">item</div>
      <div class="item col-4">item</div>
      <div class="item col-4">item</div>
      <div class="item col-4">item</div>

      
    </div>
    
  </div>
</div>
