
<div class="col-8 d-flex flex-column cart mx-auto py-5">
    <div class="w-100 border-bottom d-flex align-items-center pb-4">
        <div class="bg" [style.background-image]="'url(' + photoUrl + ')'">

        </div>
        <div class="px-4 col-2 fs-5 text-info-emphasis d-flex flex-column align-items-center">
            <span class="pb-4">Name</span>
            <span>$23</span>
        </div>
        <div class="col-6 pt-3 d-flex flex-column text-info-emphasis">
            <span class="pb-4">Quanitity</span>
            <div class="d-flex align-items-center justify-content-center border col-2">
                <button class="btn border-0" (click)="countIncreased()">+</button>
                <span class="px-1 fs-5">{{count}}</span>
                <button class="btn border-0" (click)="countDecreased()">-</button>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-between pt-4">
        <div class="fs-4 text-info-emphasis">
            <span>Total:</span> <span class="px-3">$98</span>
        </div>
        <button class="btn btn-secondary text-white px-5 mt-5">Check Out</button>
        
    </div>
</div>
