<app-header></app-header>
<main>
  <div
    class="main-banner w-100 d-flex align-items-center justify-content-center"
  >
    <div
      class="banner-text-wrapper d-flex flex-column align-items-center justify-content-center px-5"
    >
      <i class="bi bi-handbag"></i>
      <span class="fs-1 text-info-emphasis py-4 px-5 text-center"
        >Start The Day With Closet</span
      >
      <button
        class="btn text-white px-4 py-3 fs-5 mt-2 btn btn-secondary d-flex align-items-center text-center"
      >
        Discover Our Collection
      </button>
    </div>
  </div>
  <app-categories></app-categories>
  <app-spring-collections></app-spring-collections>
  <app-highlights></app-highlights>
</main>
<footer>
  <app-footer> </app-footer>
</footer>
