<div class="header w-100 bg-white h-60px d-flex">
  <div class="col-2">
    <a
      class="btn w-100 h-100 d-flex align-items-center justify-content-center border-0"
      href="/"
    >
      <i class="bi bi-handbag"></i>
      <span class="px-3 mx-3 border-left text-info-emphasis">Closet</span>
    </a>
  </div>
  <div class="col-8 d-flex align-items-center justify-content-center">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Main</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link"
        routerLink="products"
        [routerLinkActive]="['active']"
        >Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Favorites</a>
      </li>
    </ul>
  </div>
  <div class="col-2 d-flex align-items-center">
    <button class="btn">
      <strong><i class="bi bi-person fs-5"></i></strong>
    </button>
    <button class="btn">
      <i class="bi bi-cart fs-5"></i>
    </button>
    <button class="btn line-h-normal">
      <i class="bi bi-heart fs-5"></i>
    </button>
  </div>
</div>
