<div class="header w-100 bg-white h-60px d-flex border-bottom">
  <div class="col-2">
    <a
      class="btn w-100 h-100 d-flex align-items-center justify-content-center border-0"
      href="/"
    >
      <i class="bi bi-handbag"></i>
      <span class="px-3 mx-3 border-left text-info-emphasis">Closet</span>
    </a>
  </div>
  <div class="col-8 d-flex align-items-center justify-content-center">
    <ul class="nav nav-underline">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          [routerLinkActive]="['active']"
          [routerLinkActiveOptions]="{ exact: true }"
          >Main</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="products"
          [routerLinkActive]="['active']"
          >Products</a
        >
      </li>
      <li class="nav-item" *ngIf="isAuthenticated$ | async">
        <a class="nav-link" routerLink="cart" >Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="favorites">Favorites</a>
      </li>
    </ul>
  </div>
  <div class="col-2 d-flex align-items-center">
    <div class="d-flex align-items-center">
      <ng-container *ngIf="isAuthenticated$ | async; else loginButton">
        <div class="d-flex align-items-center">
          <button class="btn" (click)="logout()" title="Logout">
            <i class="bi bi-box-arrow-right fs-5"></i>
          </button>
          <span class="text-info-emphasis ms-2">{{
            (user$ | async)?.name
          }}</span>
        </div>
      </ng-container>
      <ng-template #loginButton>
        <button class="btn" (click)="openLoginDialog()" title="Login">
          <i class="bi bi-person fs-5"></i>
        </button>
      </ng-template>
    </div>
    <div class="position-relative">
      <button class="btn" routerLink="cart">
        <i class="bi bi-cart fs-5"></i>
        <ng-container *ngIf="cartItemsCount$ | async as count">
          <span
            *ngIf="count > 0"
            class="position-absolute mt-2 top-0 start-100 translate-middle badge rounded-pill bg-danger border-0"
          >
            {{ count }}
          </span>
        </ng-container>
      </button>
    </div>
    <button
      class="btn line-h-normal"
      routerLink="favorites"
    >
      <i class="bi bi-heart fs-5"></i>
    </button>
  </div>
</div>
