<div class="w-100 d-flex flex-column align-items-center pt-5 pb-5 mb-5">
  <span class="fs-2 text-info-emphasis pt-5">Categories</span>

  <div class="w-100 pt-5">
    <owl-carousel-o [options]="customOptions">
      @for(category of categories;track $index ){

      <ng-template carouselSlide>
        <div class="slide d-flex flex-column align-items-center">
          <div
            class="bg bg-size-cove bg-cover bg-position-center bg-center"
            [style.background-image]="'url(' + category.photoUrl + ')'"
          ></div>
          <div class="text fs-5 text-info-emphasis">{{ category.name }}</div>
        </div>
      </ng-template>
      }
    </owl-carousel-o>
  </div>
</div>
