<button class="favorite btn" (click)="toggleFavorite()">
  <i class="bi bi-heart" *ngIf="!isFavorite"></i>
  <i class="bi bi-heart-fill" *ngIf="isFavorite"></i>
</button>
<div class="d-flex flex-column w-100" (click)="onProductClicked()">
  <div
    class="bg"
    [ngStyle]="{ 'background-image': 'url(' + product.image + ')' }"
  ></div>
  <div class="border w-100 p-3">
    <div class="fs-7 truncate-2">
      {{ product.description }}
    </div>
    <div class="d-flex justify-content-between pt-2 pb-3">
      <span>{{ product.price | price }}</span>
      <span>{{ product.rating.count }} Orders</span>
    </div>
  </div>
</div>
